<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="mb-5"><h2>공개된 월드컵 목록 </h2></div>
        <div class="top">
            <div>
                <form action="" method="get" id="searchForm">
                    <input type="hidden" name="page" value="1">
                    <div class="input-group" style="width:500px;">
                        <div class="input-group-prepend">
                            <select class="custom-select form-control" name="type">
                                <option th:selected="${pageRequestDTO.type == null}">------</option>
                                <option th:selected="${pageRequestDTO.type == 't'}" value="t">제목</option>
                                <option th:selected="${pageRequestDTO.type == 'm'}" value="m">선택지</option>
                                <option th:selected="${pageRequestDTO.type == 'tm'}" value="tm">제목+선택지</option>
                            </select>
                        </div>
                        <input class="form-control" name="keyword" placeholder="키워드를 입력하세요">
                        <div>
                            <button class="btn btn-success btn-search" type="button">검색하기</button>
                            <button class="btn btn-danger btn-clear" type="button">새로고침</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 mb-5">

            <div th:each="worldcupDTO : ${result.dtoList}">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="worldcup-name" th:text="${worldcupDTO.title}"></div>

                        <div class="inner-row row row-cols-1 row-cols-sm-2 row-cols-md-2 g-1">
                            <th:block th:each="choiceDTO : ${worldcupDTO.choice}">
                                <div class="inner-row-item col">
                                    <img th:if="${choiceDTO.type == 1}" th:src="@{/worldcup/choice/display(fileName=${choiceDTO.getImageURL()})}" style="width: 100%; height: 200px;">
                                    <img th:if="${choiceDTO.type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${choiceDTO.imgName} + '/0.jpg'}" style="width: 100%; height: 200px;">
                                    <svg th:if="${choiceDTO.imgName == null}" class="bd-placeholder-img card-img-top" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: No Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Image</text></svg>
                                    <div class="choice-name" th:if="${choiceDTO.name != null}" th:text="${choiceDTO.name}"></div>
                                    <div class="choice-name" th:if="${choiceDTO.name == null}" th:text="'선택지 없음'"></div>
                                </div>
                            </th:block>
                        </div>

                        <div class="card-body">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary privateBtn"
                                            th:data-worldcupNum="${worldcupDTO.worldcupNum}"
                                            th:data-worldcupTitle="${worldcupDTO.title}">
                                        비공개
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="mb-4">
            <div>
                <button class="btn btn-dark" id="manager_Home">홈으로</button>
            </div>
        </div>
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item.prev " th:if="${result.prev}">
                <a class="page-link"
                   th:onclick="'loadPage(\'' + @{/manager/manager_worldcup(page=${result.start -1},type=${pageRequestDTO.type},
                                    keyword=${pageRequestDTO.keyword})} + '\', \'main\'); return false;'">이전</a>
            </li>

            <li th:class=" 'page-item.current ' + ${result.page == page?'active':''} "
                th:each="page: ${result.pageList}">
                <a class="page-link"
                   th:onclick="'loadPage(\'' + @{/manager/manager_worldcup(page=${page},type=${pageRequestDTO.type},
                                    keyword=${pageRequestDTO.keyword})} + '\', \'main\'); return false;'">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item.next" th:if="${result.next}">
                <a class="page-link"
                   th:onclick="'loadPage(\'' + @{/manager/manager_worldcup(page=${result.end + 1},type=${pageRequestDTO.type},
                                    keyword=${pageRequestDTO.keyword})} + '\', \'main\'); return false;'">다음</a>
            </li>

        </ul>
    </div>
</div>
<script>
        $(function() {
          $('#manager_Home').click(function(e) {
              e.preventDefault();
              window.location.href = '/manager';
          });

          $(".btn-search").click(function(e) {
            e.preventDefault();
            var type = $("select[name='type']").val();
            var keyword = $("input[name='keyword']").val();
            var currentPage = [[${result.page}]]; // 현재 페이지 번호를 Thymeleaf 템플릿 엔진으로부터 가져옴
            loadPage('/manager/manager_worldcup?page=' + currentPage + '&type=' + type + '&keyword=' + keyword, 'main');
          });

          $(".btn-clear").click(function(e) {
            e.preventDefault();
            $("input[name='keyword']").val('');
            var currentPage = [[${result.page}]]; // 현재 페이지 번호를 Thymeleaf 템플릿 엔진으로부터 가져옴
            loadPage('/manager/manager_worldcup?page=' + currentPage, 'main');
          });

          $(".privateBtn").click(function(e){
            e.preventDefault();
            var worldcupNum = $(this).attr('data-worldcupNum');
            var worldcupTitle = $(this).attr('data-worldcupTitle');

            $.ajax({
                type: 'PUT',
                url: '/manager/'+worldcupNum+'/disclosureUpdate',
                success: function(response) {
                    if(confirm("비공개 처리 하시겠습니까?")){
                        alert(worldcupTitle+'이 비공개 처리되었습니다');
                        loadPage('/manager/manager_worldcup','main');
                    }else{

                    }
                },
                error: function() {
                    // 비공개 실패한 경우 처리
                    alert('비공개 처리 중 오류가 발생했습니다.');
                }
            });
          });

        });
</script>