<div class="mb-4">
    <div class="d-flex align-items-center mb-4">
        <div class="bg-secondary rounded-circle h-12 w-12"></div>
        <span class="font-weight-bold" style="font-size: 24px;">회원 정보 관리</span>
    </div>
    <hr>
    <div>
        <table id="board-table" class="table table-bordered text-center">
            <thead>
            <tr>
                <th>번호</th>
                <th>월드컵 이름</th>
                <th>신고한 사람</th>
                <th>신고 날짜</th>
                <th>신고 확인</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1번</td>
                <td>이상형 월드컵</td>
                <td>김찬희</td>
                <td>20230207</td>
                <td><div id="manager_reportContent">확인</div></td>
            </tr>
            </tbody>
        </table>
        <div class="mb-4">
            <div>
                <button class="btn btn-dark" id="manager_Home">홈으로</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#manager_Home').click(function(e) {
            e.preventDefault();
            window.location.href = '/manager';
        });
        $('#manager_reportContent').click(function(e) {
            e.preventDefault();
            loadPage('/manager/manager_reportContent','main');
        });
    });
</script>