<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header data-bs-theme="dark">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div>
                <a href="/" class="navbar-brand">
                    <strong>Choose Your Best</strong>
                </a>
                <a class="link-light" href="/">이상형 월드컵</a>
            </div>

            <div>
                <a class="link-light" th:if="${session.userId==null&&session.googleId==null}" th:href="@{/worldcup/login}">로그인</a>
                <a class="" style="color:yellow; margin-right:5px;" th:if="${session.userId!=null}" th:href="@{/worldcup/warning}">월드컵 등록</a>
                <a class="" style="color:rgb(102,255,102); margin-right:5px; " th:if="${session.userId!=null}" th:href="@{/worldcup/list}">내 월드컵</a>
                <a class="" style="color:rgb(255,102,102); margin-right:5px; " th:if="${session.userId!=null}" th:href="@{/worldcup/editpw}">비밀번호 변경</a>
                <a class="link-light" th:if="${session.userId!=null}" th:href="@{/worldcup/logout}">로그아웃</a>
                <a class="link-light" th:if="${session.googleId!=null}" th:href="@{/worldcup/logout}">구글 로그아웃</a>
            </div>
        </div>
    </div>
</header>