<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>비밀번호 변경</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" th:href="@{../editpw/css/style.css}">

	</head>
	<body>
	<th:block th:include="main/header :: header"></th:block>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4">비밀번호 변경</h3>
						<form th:action="@{/worldcup/editpw}" th:method="post" class="login-form">
							<div class="form-group">
								<input name="pw" type="password" class="form-control rounded-left" placeholder="현재 비밀번호" required>
							</div>
							<div class="form-group">
								<input name="npw" type="password" class="form-control rounded-left" placeholder="새 비밀번호" required>
							</div>
								<button type="submit" class="btn btn-primary rounded submit w-100">회원정보 수정</button>

	         			 </form>
	       		 	</div>
				</div>
			</div>
		</div>
	</section>
	<th:block th:include="main/footer :: footer"></th:block>

	<script th:src="@{../editpw/js/jquery.min.js}"></script>
	<script th:src="@{../editpw/js/popper.js}"></script>
	<script th:src="@{../editpw/js/bootstrap.min.js}"></script>
	<script th:src="@{../editpw/js/main.js}"></script>
	</body>

	<script th:inline="javascript">
	    var status = [[${status}]];
		var msg = [[${msg}]];

		if (status > 0) {
            alert(msg);
        }
	</script>
</html>

