<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {list-style: none}
        .graph_wrap {margin: 0 auto;padding:20px;}
        .graph {position: relative;height: 500px;margin-top: 15px;}
        .graph .y-axis {position: absolute;width: 100%;height: 100%;z-index: 1;}
        .graph .y-axis > li {position: relative;width:calc(100% - 20px);height: calc(100% / 8);margin-left: 20px;border-top: 1px solid #8c8c8c;text-align: left;}
        .graph .y-axis > li span {position: absolute;top: -7px;left: -20px;font-size: 12px;line-height: 1;}
        .graph .x-axis {display: flex;justify-content: space-around;position: absolute;bottom: -8px;left: 20px;width: calc(100% - 20px);text-align: center;z-index: 2;}
        .graph .x-axis > li {font-size: 12px;}
        .graph .bar {display: flex;justify-content: space-around;align-items: flex-end;position: absolute;bottom: 45px;left: 20px;width: calc(100% - 20px);height: calc(100% - 16px);text-align: center;z-index: 3;}
        .graph .bar > li {flex-grow:1;margin: 0 10px;}
        .graph .bar > li span {display: inline-block;width: 100%;height: 100%;max-width: 40px;background: #8ab4f8;}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<th:block th:replace="main/header :: header"></th:block>

<body>
<main>
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
        <table class="worldcup-result">
            <tr class="worldcup-result-tr mb-5">
                <td class="worldcup-result-td">
                    <p class="text-center fs-1 fw-bold" th:text="${worldcup.title}"></p>

                    <p class="text-center" th:text="'조회수 : '+${worldcup.viewCnt}"></p>
                </td>
            </tr>
            <tr th:if="${winner != null}">
                <td>
                    <p class="text-center fs-1 fw-bold">⭐우승자 : [[${winner.name}]]⭐</p>
                    <div class="text-center d-flex justify-content-center align-items-center" >
                        <img th:if="${winner.type == 1}" th:src="@{/worldcup/choice/display(fileName=${winner.getImageURL()})}" style="max-width: 500px; max-height: 500px;">
                        <img th:if="${winner.type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${winner.imgName} + '/0.jpg'}" style="max-width: 500px; max-height: 500px;">

                    </div>
                    </td>
            </tr>
            <tr class="worldcup-result-tr">
                <td class="worldcup-result-td">
                    <p class="text-center fs-1 fw-bold">전체 순위</p>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="card" style="width: 18rem;" th:if="${rank.choice.size() > 0}">
                                <p class="text-center fs-3">🥇1위</p>
                                <img class="card-img-top" th:if="${rank.choice[0].type == 1}" th:src="@{/worldcup/choice/display(fileName=${rank.choice[0].getImageURL()})}" style="width: 100%; height: 250px;">
                                <img class="card-img-top" th:if="${rank.choice[0].type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${rank.choice[0].imgName} + '/0.jpg'}" style="width: 100%; height: 250px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center" th:text="${rank.choice[0].name}"></h5>
                                    <p>
                                        우승률:
                                        <span th:text="${#numbers.formatDecimal((sumFirst != 0 ?(rank.choice[0].first * 1.0 / sumFirst * 100) : 0), 1,1,'POINT')}"></span>% (
                                        <span th:text="${rank.choice[0].first}"></span> /
                                        <span th:text="${sumFirst}"></span> )
                                    </p>
                                    <p>우승 횟수 :
                                        <span th:text="${rank.choice[0].first}"></span>회
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col d-flex justify-content-center">
                            <div class="card" style="width: 18rem;" th:if="${rank.choice.size() > 1}">
                                <p class="text-start fs-3 text-center" >🥈2위</p>
                                <img class="card-img-top" th:if="${rank.choice[1].type == 1}" th:src="@{/worldcup/choice/display(fileName=${rank.choice[1].getImageURL()})}" style="width: 100%; height: 250px;">
                                <img class="card-img-top" th:if="${rank.choice[1].type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${rank.choice[1].imgName} + '/0.jpg'}" style="width: 100%; height: 250px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center" th:text="${rank.choice[1].name}"></h5>
                                    <p>
                                        승률:
                                        <span th:text="${#numbers.formatDecimal((sumFirst != 0 ?(rank.choice[1].first * 1.0 / sumFirst * 100) : 0), 1,1,'POINT')}"></span>% (
                                        <span th:text="${rank.choice[1].first}"></span> /
                                        <span th:text="${sumFirst}"></span> )
                                    </p>
                                    <p>우승 횟수 :
                                        <span th:text="${rank.choice[1].first}"></span>회
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center">
                            <div class="card" style="width: 18rem;" th:if="${rank.choice.size() > 2}">
                                <p class="text-start fs-3 text-center">🥉3위</p>
                                <img class="card-img-top" th:if="${rank.choice[2].type == 1}" th:src="@{/worldcup/choice/display(fileName=${rank.choice[2].getImageURL()})}" style="width: 100%; height: 250px;">
                                <img class="card-img-top" th:if="${rank.choice[2].type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${rank.choice[2].imgName} + '/0.jpg'}" style="width: 100%; height: 250px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center" th:text="${rank.choice[2].name}"></h5>
                                    <p>
                                        승률:
                                        <span th:text="${#numbers.formatDecimal((sumFirst != 0 ?(rank.choice[2].first * 1.0 / sumFirst * 100) : 0), 1,1,'POINT')}"></span>% (
                                        <span th:text="${rank.choice[2].first}"></span> /
                                        <span th:text="${sumFirst}"></span> )
                                    </p>
                                    <p>우승 횟수 :
                                        <span th:text="${rank.choice[2].first}"></span>회
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="worldcup-result-tr">
                <td class="worldcup-result-td">
                    <table class="table table-striped" id="result-section">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 5%">등수</th>
                            <th scope="col" style="width: 15%">이름</th>
                            <th scope="col" style="width: 20%">이미지</th>
                            <th scope="col" style="width: 30%">승률</th>
                            <th scope="col" style="width: 30%">우승 비율</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="choice, choiceStat : ${choices.dtoList}">
                            <td class="choice-td" th:text="${choiceStat.count + (choices.page-1) * 5}"></td>
                            <td class="choice-td" th:text="${choice.name}"></td>
                            <td class="choice-td image-preview-td">
                                <img th:if="${choice.type == 1}" th:src="@{/worldcup/choice/display(fileName=${choice.getImageURL()})}" style="max-width: 200px; max-height: 200px;">
                                <img th:if="${choice.type == 0}" th:src="@{'https://img.youtube.com/vi/' + ${choice.imgName} + '/0.jpg'}" style="max-width: 200px; max-height: 200px;">
                            </td>
                            <td class="choice-td">
                                <label th:text="${#numbers.formatDecimal(((choice.win + choice.lose) != 0 ? (choice.win * 1.0 / (choice.win + choice.lose) * 100) : 0), 1, 1, 'POINT')} + '%'"></label>
                                <div class="progress" role="progressbar" aria-label="Info striped example" th:aria-valuenow="${#numbers.formatDecimal(((choice.win + choice.lose) != 0 ? (choice.win * 1.0 / (choice.win + choice.lose) * 100) : 0), 1, 1, 'POINT')}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped bg-info" th:style="'width: ' + ${#numbers.formatDecimal(((choice.win + choice.lose) != 0 ? (choice.win * 1.0 / (choice.win + choice.lose) * 100) : 0), 1, 1, 'POINT')} + '%'"></div>
                                </div>
                            </td>
                            <td class="choice-td">
                                <label th:text="${#numbers.formatDecimal((sumFirst != 0 ? (choice.first * 1.0 / sumFirst * 100) : 0), 1, 1, 'POINT')} + '%'"></label>
                                <div class="progress" role="progressbar" aria-label="Info striped example" th:aria-valuenow="${#numbers.formatDecimal((sumFirst != 0 ? (choice.first * 1.0 / sumFirst * 100) : 0), 1, 1, 'POINT')}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped bg-info" th:style="'width: ' + ${#numbers.formatDecimal((sumFirst != 0 ? (choice.first * 1.0 / sumFirst * 100) : 0), 1, 1, 'POINT')} + '%'"></div>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <div>
                                    <form action="/play/playResult" method="get" id="searchForm">
                                        <input type="hidden" name="page" value="1">
                                        <input type="hidden" id="worldcupNum" name="worldcupNum" th:value="${worldcup.worldcupNum}">
                                        <div class="input-group"  style="width:500px;">
                                            <div class="input-group-prepend">
                                                <select class="custom-select form-control" name="type" >
                                                    <option th:selected="${pageRequestDTO.type == null}">------</option>
                                                    <option th:selected="${pageRequestDTO.type == 'n'}" value="n">선택지 이름</option>
                                                </select>
                                            </div>
                                            <input class="form-control" name="keyword" placeholder="키워드를 입력하세요" >
                                            <input type="hidden" name="pageLoc" value="result">
                                            <div>
                                                <button class="btn btn-success btn-search" type="button">검색하기</button>
                                                <button class="btn btn-danger btn-clear" type="button">새로고침</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="text-center">
                                    <ul class="pagination h-100 justify-content-center align-items-center">
                                        <li class="page-item" th:if="${choices.prev}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                page=${choices.start - 1},
                                                type=${pageRequestDTO.type},
                                                keyword=${pageRequestDTO.keyword},
                                                pageLoc=result
                )}" tabindex="-1">Prev</a>
                                        </li>
                                        <li th:class=" ' page-item ' + ${choices.page == page?'active':''}"
                                            th:each="page: ${choices.pageList}" >
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                page=${page},
                                                type=${pageRequestDTO.type},
                                                keyword=${pageRequestDTO.keyword},
                                                pageLoc=result
                )}">[[${page}]]</a>
                                        </li>
                                        <li class="page-item" th:if="${choices.next}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                page=${choices.end + 1},
                                                type=${pageRequestDTO.type},
                                                keyword=${pageRequestDTO.keyword},
                                                pageLoc=result
                )}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>

            <tr class="worldcup-result-tr">
                <td class="worldcup-result-td">
                    <div class="container d-flex justify-content-center align-items-center" style="background-color: white; height:1000px">
                        <div class="graph" style="width:800px; height:900px;">
                            <h3>Top 10 차트</h3>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="chartSwitch">
                                <label class="form-check-label" for="chartSwitch">차트 변경</label>
                            </div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="worldcup-result-tr">
                <td class="worldcup-result-td">
                    <div class="container" style="background-color: white" id="comment-section">
                        <div class="row">
                            <div class="col border-end" style="height:100%;">
                                <p class="fs-4">댓글</p>

                                <form class="row row-cols-lg-auto g-3 align-items-center">
                                        <div class="col-12" style="width: 80%">
                                            <div class="form-floating mb-3">
                                                    <input type="hidden" name="worldcupNum" th:value="${worldcup.worldcupNum}">
                                                    <input type="hidden" name="choiceNum" th:value="${pageRequestDTO.choiceNum}">
                                                    <input type="hidden" name="id" th:value="${userId}">
                                                    <input type="hidden" name="type" value="0">
                                                    <input type="text" class="form-control" id="replyInput" name="content" placeholder="">
                                                    <label for="replyInput">댓글을 남겨보세요</label>
                                            </div>
                                        </div>

                                        <div class="col-12" style="min-width: 20px; min-height: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addComment()">작성</button>
                                    </div>
                                </form>

                                <div th:each="comment : ${comment.dtoList}" class="media mb-4">
                                    <form>
                                    <div class="media-body">
                                        <p class="font-weight-bold mb-1">
                                            <span th:if="${comment.password == 'google' || comment.password == 'naver'}"
                                                  th:text="${comment.email}"></span>
                                            <span th:unless="${comment.password == 'google' || comment.password == 'naver'}"
                                                  th:text="${comment.id}"></span>
                                            <input type="hidden" name="worldcupNum" th:value="${worldcup.worldcupNum}">
                                            <input type="hidden" name="commentNum" th:value="${comment.commentNum}">
                                            <span th:if="${comment.choiceName != null}" class="text-muted" th:text="${'('+comment.choiceName+')'}"></span>
                                            <small>
                                                <span class="text-muted" th:text="${#temporals.format(comment.regDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                                            </small>
                                            <input type="text" name="content" th:value="${comment.content}" readonly class="form-control comment-input">
                                            <a href="#" class="text-danger edit-comment" th:if="${userId == comment.id}">수정하기</a>
                                            <a href="#" class="text-danger cancel-edit" style="display: none;" th:if="${userId == comment.id}">취소하기</a>
                                            <a href="#" class="text-danger delete-comment" th:if="${userId == comment.id}">삭제하기</a>
                                        </p>
                                    </div>
                                    </form>
                                </div>
                                <div class="text-center">
                                    <ul class="pagination h-100 justify-content-center align-items-center">
                                        <li class="page-item" th:if="${comment.prev}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                commentPage=${comment.start - 1},
                                                pageLoc=comment
                )}" tabindex="-1">Prev</a>
                                        </li>
                                        <li th:class=" ' page-item ' + ${comment.page == page?'active':''}"
                                            th:each="page: ${comment.pageList}" >
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                commentPage=${page},
                                                pageLoc=comment
                )}">[[${page}]]</a>
                                        </li>
                                        <li class="page-item" th:if="${comment.next}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                commentPage=${comment.end + 1},
                                                pageLoc=comment
                )}">Next</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col">
                                <p class="fs-4">선택지 요청</p>

                                <form class="row row-cols-lg-auto g-3 align-items-center">
                                    <div class="col-12" style="width: 80%">
                                        <div class="form-floating mb-3">
                                            <input type="hidden" name="worldcupNum" th:value="${worldcup.worldcupNum}">
                                            <input type="hidden" name="choiceNum" th:value="${pageRequestDTO.choiceNum}">
                                            <input type="hidden" name="id" th:value="${userId}">
                                            <input type="hidden" name="type" value="1">
                                            <input type="text" class="form-control" id="requestInput" name="content" placeholder="">
                                            <label for="requestInput">댓글로 후보를 요청해보세요</label>
                                        </div>
                                    </div>

                                    <div class="col-12" style="min-width: 20px; min-height: 20px">
                                        <button type="submit" class="btn btn-primary" onclick="addComment()">작성</button>
                                    </div>
                                </form>
                                <div th:each="request : ${request.dtoList}" class="media mb-4">
                                    <form>
                                        <div class="media-body">
                                            <p class="font-weight-bold mb-1">
                                                <span th:if="${request.password == 'google' || request.password == 'naver'}"
                                                      th:text="${request.email}"></span>
                                                <span th:unless="${request.password == 'google' || request.password == 'naver'}"
                                                th:text="${request.id}"></span>
                                                <input type="hidden" name="worldcupNum" th:value="${worldcup.worldcupNum}">
                                                <input type="hidden" name="commentNum" th:value="${request.commentNum}">
                                                <span th:if="${request.choiceName != null}" class="text-muted" th:text="${'('+request.choiceName+')'}"></span>
                                                <small>
                                                    <span class="text-muted" th:text="${#temporals.format(request.regDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                                                </small>
                                                <input type="text" name="content" th:value="${request.content}" readonly class="form-control request-input">
                                                <a href="#" class="text-danger edit-request" th:if="${userId == request.id}">수정하기</a>
                                                <a href="#" class="text-danger cancel-edit" style="display: none;" th:if="${userId == request.id}">취소하기</a>
                                                <a href="#" class="text-danger delete-comment" th:if="${userId == request.id}">삭제하기</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-center">
                                    <ul class="pagination h-100 justify-content-center align-items-center">
                                        <li class="page-item" th:if="${request.prev}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                requestPage=${request.start - 1},
                                                pageLoc=comment
                )}" tabindex="-1">Prev</a>
                                        </li>
                                        <li th:class=" ' page-item ' + ${request.page == page?'active':''}"
                                            th:each="page: ${request.pageList}" >
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                requestPage=${page},
                                                pageLoc=comment
                )}">[[${page}]]</a>
                                        </li>
                                        <li class="page-item" th:if="${request.next}">
                                            <a class="page-link" th:href="@{/play/playResult(
                                                worldcupNum=${worldcup.worldcupNum},
                                                requestPage=${request.end + 1},
                                                pageLoc=comment
                )}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>




    </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script th:inline="javascript">
        window.onload = function() {

            const urlParams = new URLSearchParams(window.location.search);
            const pageLoc = urlParams.get('pageLoc');

            if (pageLoc === 'comment') {
                var commentSection = document.getElementById('comment-section');
                commentSection.scrollIntoView({ behavior: 'smooth' });
            }else if (pageLoc === 'result') {
                var commentSection = document.getElementById('result-section');
                commentSection.scrollIntoView({ behavior: 'smooth' });
            }

        }



        var chartData = /*[[${chart}]]*/ '';
        chartData.sort((a, b) => b.first - a.first);
        var labels = [];
        var datas = [];
        var total = 0;
        chartData.forEach(function(choice) {
            labels.push(choice.name);
            datas.push(choice.first);
            total += choice.first;
        });

        var doughnutOptions = {
            plugins: {
                tooltips: {
                    enabled: false
                },
                datalabels: {
                    formatter: function (value, context) {
                        return context.chart.data.labels[context.dataIndex];
                    },
                    color: '#000'
                },
                legend: {
                    display : false
                }
            }
         }
        var barOptions = {
            plugins: {
                datalabels: {

                    color: '#000',
                },
                legend: {
                    display: false
                }
            }
        };

        const configDonut = {
          type: 'doughnut',
          data: {
            labels: labels,
            datasets: [
              {
                data: datas,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)'
                ]
              }
            ]
          },
          options: doughnutOptions,
          plugins: [ChartDataLabels]
        };

        var barOptions = {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: datas,
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.8)',
                          'rgba(54, 162, 235, 0.8)',
                          'rgba(255, 206, 86, 0.8)',
                          'rgba(75, 192, 192, 0.8)',
                          'rgba(153, 102, 255, 0.8)',
                          'rgba(255, 159, 64, 0.8)'
                        ],
                        borderColor: [
                          'rgba(255, 99, 132, 0.8)',
                          'rgba(54, 162, 235, 0.8)',
                          'rgba(255, 206, 86, 0.8)',
                          'rgba(75, 192, 192, 0.8)',
                          'rgba(153, 102, 255, 0.8)',
                          'rgba(255, 159, 64, 0.8)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
          options: barOptions,
          plugins: [ChartDataLabels]
        };

        $('#chartSwitch').change(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                myChart.destroy();
                var ctx = document.getElementById('myChart').getContext('2d');
                myChart = new Chart(ctx, barOptions);
            } else {
                myChart.destroy();
                var ctx = document.getElementById('myChart').getContext('2d');
                myChart = new Chart(ctx, configDonut);
            }
        });
        if(total != 0){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, configDonut);
        }else {
            var canvas = document.getElementById('myChart');
            var ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.font = '24px Arial';
            ctx.fillStyle = '#000';
            ctx.textAlign = 'center';
            ctx.fillText('우승 데이터 없음', canvas.width / 2, canvas.height / 2);
        }

        function editComment() {
            var button = event.target;
            var form = button.closest('form');
            var formData = new FormData(form);

            $.ajax({
              url: '/comment/edit',
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                console.log(response);
                location.reload();
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          }


        function addComment() {
            var button = event.target;
            var form = button.closest('form');
            var formData = new FormData(form);
            var userId = formData.get('id');

            if (userId === null || userId === "") {
                alert('댓글을 작성하려면 먼저 로그인해야 합니다.');
                return; // 함수 종료
            }

            $.ajax({
              url: '/comment/add',
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                console.log(response);
                location.reload();
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          }
    </script>
    <script>
        $(document).ready(function () {
            $('.edit-comment').click(function(e) {
                e.preventDefault();
                var $commentInput = $(this).closest('.media-body').find('.comment-input');
                var $editBtn = $(this);
                var $cancelBtn = $(this).closest('.media-body').find('.cancel-edit');

                $commentInput.removeAttr('readonly');
                $editBtn.hide();
                $cancelBtn.show();

                var $submitBtn = $('<button type="submit" class="btn btn-primary submit-edit" onclick="editComment()">제출</button>');
                $commentInput.after($submitBtn);
            });

            $('.cancel-edit').click(function(e) {
                e.preventDefault();
                var $commentInput = $(this).closest('.media-body').find('.comment-input');
                var $cancelBtn = $(this);
                var $editBtn = $(this).closest('.media-body').find('.edit-comment');

                $commentInput.attr('readonly', 'readonly');
                $cancelBtn.hide();
                $editBtn.show();

                $cancelBtn.siblings('.submit-edit').remove();
            });

            $('.delete-comment').click(function(e) {
                e.preventDefault();

                var commentNum = $(this).closest('.media-body').find('input[name="commentNum"]').val();

                // AJAX 요청 보내기
                $.ajax({
                    url: '/comment/delete',
                    type: 'POST',
                    data: {
                        commentNum: commentNum
                    },
                    success: function(response) {
                        console.log('댓글 삭제 성공');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('댓글 삭제 실패:', error);
                    }
                });
            });

            $('.edit-request').click(function(e) {
                e.preventDefault();
                var $commentInput = $(this).closest('.media-body').find('.request-input');
                var $editBtn = $(this);
                var $cancelBtn = $(this).closest('.media-body').find('.cancel-edit');

                $commentInput.removeAttr('readonly');
                $editBtn.hide();
                $cancelBtn.show();

                var $submitBtn = $('<button type="submit" class="btn btn-primary submit-edit" onclick="editComment()">제출</button>');
                $commentInput.after($submitBtn);
            });

            $('.cancel-edit').click(function(e) {
                e.preventDefault();
                var $commentInput = $(this).closest('.media-body').find('.request-input');
                var $cancelBtn = $(this);
                var $editBtn = $(this).closest('.media-body').find('.edit-request');

                $commentInput.attr('readonly', 'readonly');
                $cancelBtn.hide();
                $editBtn.show();

                $cancelBtn.siblings('.submit-edit').remove();
            });





            var searchForm = $("#searchForm");

            $(".btn-search").click(function(e){
              searchForm.submit();
            });

            $(".btn-clear").click(function(e){
              var worldcupNumValue = searchForm.find('#worldcupNum').val();
              searchForm.empty();
              searchForm.append('<input type="hidden" name="worldcupNum" id="worldcupNum" value="' + worldcupNumValue + '"/>');
              searchForm.submit();

            });

            $('input').keydown(function(event) {
                if (event.keyCode === 13) { // Enter 키의 keyCode는 13입니다.
                    event.preventDefault(); // 기본 동작 취소 (폼 제출 방지)
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</main>
</body>
<th:block th:replace="main/footer :: footer"></th:block>
</html>

