<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>아이디 찾기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" th:href="@{../findid/css/style.css}">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


	</head>
	<body>
	<th:block th:include="main/header :: header"></th:block>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4">아이디 찾기</h3>
						<form id="findIdForm" th:action="@{/worldcup/findid}" th:method="post" class="login-form">
							<div id="inputId" th:if="!${msg}" class="form-group">
								<input type="text" name="email" class="form-control rounded-left" placeholder="Email" required>
							</div>
							<div id="findId" th:if="${msg}" >
								<p class="text-center fs-5"  id="msg" th:text="${msg}"></p>
							</div>
								<button id="findBtn" th:if="!${msg}" type="submit" class="btn btn-primary rounded submit w-100">아이디 찾기</button>
							<a th:href="@{/worldcup/login}" th:if="${success}" id="loginBtn"><button type="button" class="btn btn-primary rounded w-100">로그인 화면으로</button></a>
							<a th:href="@{/worldcup/findid}" style="font-size:5px;" th:if="${msg == '아이디를 찾을 수 없습니다.' or msg=='구글아이디로 가입된 계정입니다.'}" id="reFindIdBtn"><button type="button" class="btn btn-primary rounded w-100">아이디 다시 찾기</button></a>

	         			 </form>
	       		 	</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{../findid/js/jquery.min.js}"></script>
	<script th:src="@{../findid/js/popper.js}"></script>
	<script th:src="@{../findid/js/bootstrap.min.js}"></script>
	<script th:src="@{../findid/js/main.js}"></script>

	<th:block th:include="main/footer :: footer"></th:block>
	</body>
</html>

